body {
  background-color: #eaeaea;
}

#root {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  display: flex;
  flex: 1 1 auto;
  flex-direction: column;
  margin: 6.5rem 1rem 2rem 1rem;
}

.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(135deg, rgb(24, 42, 115) 0%, rgb(33, 138, 174) 69%, rgb(32, 167, 172) 89%);
}

footer {
  font-size: 1.2rem;
  color: #fff;
  background-color: teal;
  padding: 1.5rem 0;
}

footer a {
  color: #fff;
  font-weight: bold;
}

footer a:hover {
  color: darkblue;
}

.duty__item.duty__draggable.dragging {
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.duty__item.duty__draggable .draggable {
  cursor: move;
}

.duty__item .duty__color {
  width: 30px;
  height: 30px;
  border: 1px solid #000;
}

.input__color .ui.input input {
  padding: 0;
  border: none;
}