$darkTextColor: #212121;

body {
    background-color: #eaeaea;
}

#root {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.wrapper {
    display: flex;
    flex: 1 1 auto;
    flex-direction: column;
    margin: 1rem 1rem 1.5rem 1rem;
}

.menu {
    &__nav {
        background-image: linear-gradient(135deg, #182a73 0%, #218aae 69%, #20a7ac 89%) !important;
    }

    &__username {
        max-width: 4em;
    }
}

.footer {
    font-size: 1.2rem;
    color: #ffffff;
    background-color: #008080;
    padding: 1.5rem 0;

    a {
        color: #ffffff;
        font-weight: bold;

        &:hover {
            color: #00008b;
        }
    }
}

.duty {
    &__item.duty__draggable {
        .draggable {
            cursor: move;
        }

        &.dragging {
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }
    }

    &__pick-color {
        width: 30px;
        height: 30px;
        border: 1px solid #000000;
    }

    &__input-color .ui.input input {
        padding: 0;
        border: none;
    }
}

.translate-keyboard {
    display: flex;

    &__icon {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0 15px;
        background-color: rgba(32, 167, 172, 0.1);
        border-radius: 5px;
    }

    @media (max-width: 768px) {
        & {
            flex-direction: column;
        }

        &__icon {
            padding: 15px 0;
        }
    }
}

.translate-input__buttons {
    display: flex;
    justify-content: flex-end;
    flex-wrap: wrap;
    align-items: center;
    padding: 5px 10px 10px;
    border-bottom: 1px solid #008080;
}

.ui.dropdown.status-dropdown__placeholder input.search+.divider.text,
.ui.dropdown.status-dropdown__placeholder input.search:focus+.divider.text {
    color: #ffffff !important;
    opacity: 1 !important;
}

/********** GENERAL **********/
.formatted-text {
    white-space: pre-wrap;
}

.truncate-text {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.cursor-pointer {
    cursor: pointer;
}